/* Fonts */

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2"), format("woff2"),
    url(../fonts/cuprum.woff), format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2"), format("woff2"),
    url(../fonts/cuprumbold.woff), format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2"), format("woff2"),
    url(../fonts/cuprumbolditalic.woff), format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2"), format("woff2"),
    url(../fonts/cuprumbolditalic.woff), format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2"), format("woff2"),
    url(../fonts/cuprumitalic.woff), format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2"), format("woff2"),
    url(../fonts/ptsans.woff), format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url(../fonts/ptsansbold.woff), format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-nav-hover: #1D2739;
  --basic-social-icon: #212A3A;
  --basic-header-footer: #293449;
  --basic-nav-footer: #32425C;
  --basic-bottom: #EE3643;
  --basic-bottom-gr: #63A63E;
  --basic-background: #F1F5F7;
  --basic-section-background: #F9F5F0;
  --basic-filtr-bg: #F7F3EC;
  --basic-text: #ffffff;

  --special: #FFD180;
}

/* Global*/

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* Main Header inner page */
.inner-page .main-header{
  margin-bottom: 21px;
}


/* Grid */
.page {
  height: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* Grid for pages */

.page-catalog{
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  gap: 20px;

}
.page-catalog .breadcrumbs{
  grid-column: 1/-1;
}

.page-catalog .page-title{
  grid-column: 1/-1;
}

/* Main-Header */

.main-header {
  margin-bottom: 60px;

}

.main-header-bar {
  background-color: var(--basic-header-footer);
  width: 100%;
}

.header-top {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  width: 940px;
  margin: 0 auto;
  padding: 0 0;

}

/* header-middle */

.midle-header-bar {
  background-color: var(--basic-background);
  width: 100%;
}

.header-midle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0 0;
}

.header-midle p {
  color: var(--basic-bottom);
  font-style: italic;
}

.contact-phone {
  border: 3px solid white;
  color: var(--basic-bottom);
  font-weight: 700;
  font-style: var(--basic-bottom);
  font-size: 21px;
  line-height: 30px;
}

address {
  color: var(--basic-nav-footer);
  font-style: normal;
}

.user-navigation,
.user-login,
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation {
  background-color: var(--basic-nav-footer);
  height: 60px;

}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-right: 56px;
  align-self: center;
}


.user-navigation a,
.site-navigation a,
.price a {
  color: var(--basic-text);
}

.user-navigation img:hover,
.user-navigation img:focus {
  background-color: var(--basic-text);
}

/* Site navigation */
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-nav-hover);
}

.user-navigation,
.site-navigation,
.user-login,
.catalog-list,
.companies-logo,
.footer-link-navigation,
.footer-link-popular-parts,
.transport-company {
  list-style: none;
}

.page-name,
.popular-parts h2 {
  display: none;
}

h2 {
  font-family: "Cuprum", "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.accent-text {
  color: var(--basic-nav-footer);
}

/* parts-item*/

.parts-item p {
  font-weight: 400;
  font-style: var(--basic-text);
  font-size: 24px;
  line-height: 30px;
}

/* Button*/

.checkout-btn {
  font: inherit;
  color: var(--basic-text);
  background-color: var(--basic-bottom-gr);
}

.checkout-btn:hover {
  background-color: #5FBB2D;
}

.checkout-btn:focus {
  opacity: 50%;
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-text);
  text-transform: uppercase;
  background-color: var(--basic-bottom);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #CA2C37;
}

/* Popular-Parts*/

.popular-parts {
  margin-bottom: 68px;
  display: grid;
  gap: 20px 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
}

.parts-item {
  width: 300px;
  height: 123px;
}

.material-item {
  background-color: #FFBF47;
}

.instruments-item {
  background-color: #3BBCE3;
}

.technics-item {
  background-color: #DC91D8;
}

.discount-item {
  background-color: #8ED78F;
}

.delivery-item {
  background-color: #FFC047;
}

.parts-item p {
  font-family: "Cuprum", "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-text);
  margin: 0 10px;
}


/* slider*/

.slider-block {
  grid-column: 1/3;
  grid-row: 2/3;

}

.slide-text {
  grid-row: 1/2;
}

.slider-controls {
  display: grid;
  grid-template-columns: auto auto;
}

.slider {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 620px;
  height: 266px;
}

.slide-title {
  color: var(--basic-text);
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.slide-subtitle {
  color: var(--basic-text);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}


/* products-card */

.parts {
  background-color: var(--basic-section-background);
}

.popular-products{
  margin-bottom: 61px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
}

.products-card {
  min-width: 220px;
  min-height: 318px;
  margin: 0;
  padding: 0;
  border: 1px solid #EAEAEA;
}

.products-card h3 {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  color: var(--basic-black);
  margin-left: 18px;
  margin-right: 17px;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: center;
}

.products-card-img{
  width: 220px;
  height: 170px;
  margin: 0;

}

.old-price {
  color: #A9A9A9;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  margin-left: 78px;
  margin-right: 78px;
}

.price {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  background-color: var(--basic-bottom);
  color: var(--basic-text);
  display: inline-block;
  margin-right: 34px;
  margin-left: 45px;

}


/* popular-companies */

.popular-companies{
  margin-bottom: 70px;
}
.parts{
  margin-bottom: 20px ;
}
.companies-logo{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
}


.lead {
  color: var(--basic-black);
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

/* Services */

.services{
  background-color: var(--basic-background);
}

.services ul{
  list-style: none;
}

.services-item{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.services-button{
  list-style: none;
}

.services-checked-btn{
  background-color: var(--basic-text);
  color: var(--basic-nav-footer);
}

.services-unchecked-btn{
  background-color: var(--basic-nav-footer);
  color: var(--basic-text);
}

.credit-btn{
  background-color: #FF5357;
  border-radius: 3px;
  text-transform: uppercase;
  color: var(--basic-text);
}

.services-unchecked-btn:hover{
  background-color: var(--basic-header-footer);
}
.page-title {
  color: var(--basic-nav-footer);
  font-family: "Cuprum", "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  background-color: #F2F6F8;
  margin: 0;
  padding: 0;
}

.index-column{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 70px;
}

/* Breadcrumbs */
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs a,
.breadcrumbs-current,
.page-subtitle {
  color: var(--basic-black);
  text-transform: uppercase;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* Filters */
.page-subtitle h2 {
  display: none;
}

.page-subtitle-bg {
  background-color: var(--basic-filtr-bg);
}

.filter fieldset{
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  border: none;

}

.filter legend {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.filter-option {
  padding: 0;
  margin-bottom: 20px;

}

form.filter .filter-btn {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  background-color: none;
  border: 1px solid #E5E5E5;
  text-align: center;
  text-transform: uppercase;
}

/* Catalog */
.sorting,
.user-login-item{
  list-style: none;
}

.by-prise {
  color: var(--basic-bottom)
}

.by-type,
.by-func {
  color: var(--basic-black);
  opacity: 30%;
  border-bottom: 1px dotted;
}

.by-type:hover,
.by-func:hover {
  opacity: 100%;
  border-bottom: 1px solid var(--basic-bottom);
}

.catalog-item {
  border: 1px solid #EAEAEA;
}

.card-mark-btn {
  color: var(--basic-nav-footer);
  border: 2px solid var(--basic-bottom-gr);
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
}

.card-buy-btn {
  text-transform: uppercase;
  text-align: center;
}

.card-mark-btn:hover {
  border: 2px solid var(--basic-nav-footer);
  background-color: transparent;
}

.card-mark-btn:focus {
  opacity: 50%;
}

.about-product-bg{
  background-color: var(--basic-background);
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: transparent;
  border: 1px solid #E5E5E5;
}

.pagination-item a:hover {
  border: 1px solid #C5C5C5;
}

.pagination-item a:focus {
  border: 1px solid var(--basic-bottom);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus{
  color: var(--basic-text);
  background-color: var(--basic-bottom);
}


/* Footer */

.footer-top .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.footer-top {
  background-color: var(--basic-nav-footer);
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer-top ul{
  list-style: none;
}

.footer-link-popular-parts{
  grid-column: 2/3;
  margin: 0;
  padding: 0;
}

.footer-link-navigation{
  grid-column: 2/3;
  margin: 0;
  padding: 0;
}

.footer-link-navigation a {
  color: var(--basic-text);

}

.footer-link-popular-parts a {
  color: var(--special);
}

.footer-top h3 {
  display: none;
}

.footer-link-navigation a:hover,
.footer-link-popular-parts a:hover {
  text-decoration: underline;
}

.footer-link-navigation a:focus,
.footer-link-popular-parts a:focus {
  text-decoration: none;
  opacity: 50%;
}

/* Footer-bottom */

.footer-bottom{
  background-color: var(--basic-nav-hover);
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer-bottom .container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


.footer-contacts{
  grid-column: 1/2;
  grid-row: 2/3;
}

.footer-bottom ul{
  list-style: none;
}

.footer-address {
  color: #F3F7F9;
  font-family: "Cuprum";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.footer-copyright {
  color: var(--basic-text);
  font-family: "Cuprum";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer-copyright a {
  color: var(--special);
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-copyright a:focus {
  color: var(--basic-bottom);
}
