/* Fonts */

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-nav-hover: #1D2739;
  --basic-social-icon: #212A3A;
  --basic-header-footer: #293449;
  --basic-nav-footer: #32425C;
  --basic-unchecked-btn: #405069;
  --basic-user-nav-focus: #161D29;
  --basic-bottom: #EE3643;
  --basic-bottom-focus: #BA2732;
  --basic-bottom-hover: #CA2C37;
  --special-logo-shadow: #B52933;
  --basic-bottom-gr: #63A63E;
  --basic-bottom-gr-hover: #5FBB2D;
  --basic-bottom-gr-shadow: #367315;
  --basic-bottom-gr-focus: #518534;
  --basic-background: #F1F5F7;
  --basic-section-background: #F9F5F0;
  --basic-filtr-bg: #F7F3EC;
  --basic-text: #FFFFFF;
  --basic-grey: #C5C5C5;
  --basic-light-grey: #EAEAEA;
  --basic-dark-grey: #A9A9A9;
  --basic-btn-grey: #E5E5E5;
  --basic-page-bg: #F2F6F8;
  --basic-modal-bg: #F4F4F4;
  --basic-breadcrumbs-icon: #C1C6CE;
  --filter-grey: #B5B5B5;
  --filter-bar: #00CA74;
  --filter-shadow: #CFCFCF;

  --card-popular-parts-bg-1: #FFBF47;
  --card-popular-parts-bg-2: #3BBCE3;
  --card-popular-parts-bg-3: #DC91D8;
  --card-popular-parts-bg-4: #8ED78F;
  --card-popular-parts-bg-5: #FFC047;

  --special: #FFD180;

  --primary-text: "Cuprum", "PT Sans", Arial, Helvetica, sans-serif;
  --secondary-text: "PT Sans", Arial, Helvetica, sans-serif;
}

/* Global*/

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: var(--primary-text);
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-text);
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */
.page {
  height: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Grid for pages */

.page-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  gap: 20px;
  margin-bottom: 61px;
}

.page-catalog .breadcrumbs {
  grid-column: 1/-1;
}

.page-catalog .page-title {
  grid-column: 1/-1;
}

.inner-page .main-header {
  margin-bottom: 21px;
}

.inner-page .catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px 20px;
  margin-top: 30px;
  padding: 0;
}

/* Main-Header */

.main-header {
  margin-bottom: 60px;
}

.main-header-bar {
  background-color: var(--basic-header-footer);
  width: 100%;
  height: 42px;
}

.header-top .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-header-logo {
  display: block;
  text-align: center;
  padding-top: 12px;
  padding-left: 3px;
  background-color: var(--basic-bottom);
  width: 220px;
  height: 42px;
  box-shadow:
    0px 5px 0px var(--special-logo-shadow);
  cursor: pointer;
}

.inner-page .main-header-logo:active,
.inner-page .main-footer-logo:active {
  background-color: var(--basic-bottom-focus);
}

.header-search {
  position: relative;
  width: 270px;
}

.search-input,
.header-search button {
  border: none;
  outline: none;
  background: transparent;
}

.header-search input {
  width: 100%;
  height: 42px;
  padding-left: 43px;
  padding-top: 2px;
}

.search-input::placeholder {
  color: var(--basic-text);
}

.header-search svg {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 11px;
  left: 18px;
  opacity: 0.3;
  cursor: pointer;
}

.search-input:hover + svg {
  opacity: 1;
}

.search-input:focus {
  background-color: var(--basic-text);
  color: var(--basic-black);
}

.search-input:focus + svg path {
  fill: var(--basic-bottom);
  opacity: 1;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  min-width: 450px;
  min-height: 42px;
  position: relative;
}

.marker-link {
  color: var(--basic-text);
  display: block;
  width: 150px;
  padding: 10px 24px;
  text-align: end;
  position: relative;
}

.marker-link::before {
  content: "";
  position: absolute;
  right: 116px;
  bottom: 15px;
  width: 14px;
  height: 16px;
  background: url("../img/icon/icon-bookmark.svg") no-repeat 0 0;
  opacity: 0.3;
}

.basket-link {
  color: var(--basic-text);
  display: block;
  width: 150px;
  padding: 9px 26px;
  text-align: end;
  position: relative;
}

.basket-link::before {
  content: "";
  position: absolute;
  right: 109px;
  bottom: 14px;
  width: 15px;
  height: 15px;
  background: url("../img/icon/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
}

.user-nav-focus {
  background-color: var(--basic-bottom);
}

.marker-link:hover::before,
.basket-link:hover::before {
  opacity: 1;
}

.user-navigation .marker-link:focus,
.user-navigation .basket-link:focus {
  background-color: var(--basic-user-nav-focus);
}

.checkout-btn {
  font: inherit;
  display: inline-block;
  vertical-align: top;
  color: var(--basic-text);
  background-color: var(--basic-bottom-gr);
  width: 150px;
  text-align: center;
  padding: 9px 12px;
}

.checkout-btn:hover {
  background-color: var(--basic-bottom-gr-hover);
}

.checkout-btn:focus {
  opacity: 50%;
}

/* Header-Middle */

.header-middle .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.middle-header-bar {
  background-color: var(--basic-background);
  width: 100%;
  min-height: 278px;
}

.header-middle p {
  width: 197px;
  min-height: 71px;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-bottom);
  font-style: italic;
  margin-left: 31px;
  margin-top: 12px;
}

.header-contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.contact-phone {
  color: var(--basic-bottom);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  margin-left: 24px;
  position: relative;
  border: 3px solid var(--basic-text);
  padding: 7px 40px 7px 68px;
}

.contact-phone::before {
  content: "";
  width: 19px;
  height: 19px;
  background-image: url("../img/icon/icon-phone.svg");
  position: absolute;
  top: 11px;
  left: 33px;
}

.header-address {
  color: var(--basic-nav-footer);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  margin-left: 31px;
}

.user-login {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: -8px;
}

.user-in {
  display: block;
  margin-right: 12px;
  color: var(--basic-black);
  background-color: var(--basic-text);
  font-size: 21px;
  line-height: 21px;
  padding: 12px 24px 12px 45px;
  position: relative;
}

.user-in::before {
  content: "";
  width: 20px;
  height: 17px;
  position: absolute;
  top: 14px;
  left: 18px;
  background-image: url("../img/icon/icon-login.svg");
  opacity: 0.3;
}

.user-in:hover::before {
  opacity: 1;
}

.user-in:active::before {
  opacity: 0.3;
}

.user-in:hover,
.user-reg:hover {
  color: var(--basic-bottom);
}

.user-in:focus,
.user-reg:focus {
  color: var(--basic-grey);
}

.user-reg {
  display: block;
  color: var(--basic-black);
  background-color: var(--basic-text);
  font-size: 21px;
  line-height: 21px;
  padding: 12px 24px;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 25px;
  padding-left: 25px;
  list-style: none;
  margin-top: 30px;
  margin-left: 8px;
  min-height: 60px;
  background-color: var(--basic-nav-footer);
  width: 940px;
  box-shadow: inset 0px -5px 0px var(--basic-header-footer);
}

.site-navigation a {
  color: var(--basic-text);
  display: block;
  padding: 16px 21px 20px 24px;
}

.user-navigation img:hover,
.user-navigation img:focus {
  background-color: var(--basic-text);
}

/* Site navigation */

.site-navigation a:hover {
  background-color: var(--basic-nav-hover);
}

.site-navigation a:focus {
  opacity: 0.5;
}

.headline {
  font-family: var(--primary-text);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.accent-text {
  color: var(--basic-nav-footer);
}

/* Button*/

.button {
  display: inline-block;
  vertical-align: top;
  padding: 10px 24px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-text);
  text-transform: uppercase;
  background-color: var(--basic-bottom);
  border: none;
}

.button:hover,
.button:active {
  background-color: var(--basic-bottom-hover);
}

.button:focus {
  background-color: var(--basic-bottom-focus);
}

/* Popular-Parts*/

.popular-parts {
  margin-bottom: 57px;
  display: grid;
  gap: 20px 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  margin-top: 0;
}

.parts-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 123px;
  position: relative;
}

.parts-item p {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: var(--primary-text);
  padding-top: 20px;
  padding-left: 23px;
  color: var(--basic-text);
  margin: 0 1px;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.parts-item a {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 135px;
  min-height: 38px;
  padding-top: 10px;
  margin-top: 13px;
  margin-left: 24px;
  color: var(--basic-text);
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  line-height: 18px;
}

.parts-item a:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.parts-item a:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.material-item {
  background-color: var(--card-popular-parts-bg-1);
  background-image: url("../img/icon/icon-paint.svg");
  background-repeat: no-repeat;
  background-size: 44px 65px;
  background-position: 214px 30px;
}

.instruments-item {
  background-color: var(--card-popular-parts-bg-2);
  background-image: url("../img/icon/icon-drill.svg");
  background-repeat: no-repeat;
  background-size: 75px 61px;
  background-position: 196px 32px;
}

.technics-item {
  background-color: var(--card-popular-parts-bg-3);
  background-image: url("../img/icon/icon-tractor.svg");
  background-repeat: no-repeat;
  background-size: 78px 62px;
  background-position: 193px 30px;
}

.discount-item {
  background-color: var(--card-popular-parts-bg-4);
  grid-column: 3/4;
  grid-row: 2/3;
  background-image: url("../img/icon/icon-discount.svg");
  background-repeat: no-repeat;
  background-size: 59px 72px;
  background-position: 198px 25px;
}

.delivery-item {
  background-color: var(--card-popular-parts-bg-5);
  grid-column: 3/4;
  grid-row: 3/4;
  background-image: url("../img/icon/icon-delivery.svg");
  background-repeat: no-repeat;
  background-size: 78px 63px;
  background-position: 193px 29px;
}

.marker-new::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 231px;
  width: 70px;
  height: 70px;
  background: url("../img/new.svg") no-repeat;
}

/* slider*/

.slider-block {
  grid-column: 1/3;
  grid-row: 2/4;
  max-width: 620px;
  height: 266px;
  background-color: var(--basic-dark-grey);
  position: relative;
}

.slider {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.slide-content {
  content: "";
  position: absolute;
  width: 620px;
  height: 266px;
  top: 0px;
}

.slide-title {
  color: var(--basic-text);
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 23px;
  margin-left: 25px;
  margin-bottom: 0;
}

.slide-subtitle {
  color: var(--basic-text);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 5px;
  margin-left: 25px;
}

.slide-content .button {
  margin-top: 96px;
  margin-left: 24px;
  padding: 10px 48px;
}

.control-left {
  position: absolute;
  top: 120px;
  left: 25px;
  padding: 0;
  background-image: url("../img/icon/icon-left.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 40px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.control-right {
  position: absolute;
  top: 120px;
  right: 18px;
  padding: 0;
  background-image: url("../img/icon/icon-right.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 40px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.dot-controls {
  position: absolute;
  top: 219px;
  left: 297px;
  display: flex;
  width: 30px;
  justify-content: space-between;
}

.dot-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-text);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.dot-controls .current {
  border: 2px solid var(--basic-text);
  background-color: var(--basic-bottom);
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

/* products-card */

.parts {
  background-color: var(--basic-section-background);
  display: flex;
  align-items: center;
  width: 940px;
  height: 89px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.parts h2 {
  padding: 0px 29px;
}

.parts .button {
  display: block;
  margin-top: 3px;
  margin-right: 14px;
  text-align: center;
}

.popular-products {
  margin-bottom: 70px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.marker-new-current::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 149px;
  width: 70px;
  height: 70px;
  background: url("../img/new.svg") no-repeat;
}

.products-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 220px;
  min-height: 318px;
  margin: 0;
  padding: 0;
  border: 1px solid var(--basic-light-grey);
  position: relative;
}

.products-card:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.products-card h3 {
  font-family: var(--secondary-text);
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  color: var(--basic-black);
  margin-top: 9px;
  margin-bottom: auto;
  margin-right: 16px;
  margin-left: 16px;
  text-align: center;
  text-transform: none;
}

.products-card-img {
  width: 220px;
  height: 170px;
  margin: 0;
}

.products-card:hover .products-card-img {
  opacity: 0;
}

.old-price {
  color: var(--basic-dark-grey);
  font-family: var(--secondary-text);
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.price {
  font-family: var(--secondary-text);
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  background-color: var(--basic-bottom);
  color: var(--basic-text);
  display: inline-block;
  vertical-align: top;
  margin-top: 14px;
  margin-bottom: 21px;
  margin-left: 45px;
  width: 172px;
  height: 36px;
  padding: 10px 34px 8px 32px;
  background-image:
    linear-gradient(225deg, var(--basic-text) 25%, transparent 25%),
    linear-gradient(315deg, var(--basic-text) 25%, transparent 25%);
}

/* popular-companies */

.popular-companies {
  margin-bottom: 55px;
}

.companies-btn {
  width: 196px;
  height: 38px;
  padding-top: 10px;
  padding-left: 20px;
}

.companies-logo {
  list-style: none;
  display: grid;
  gap: 13px 20px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
}

.companies-logo li {
  border: 1px solid var(--basic-light-grey);
}

.companies-logo li:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.companies-logo a:focus {
  opacity: 0.5;

}

/* Services */
.services .container:first-child {
  padding-top: 48px;
  padding-left: 10px;
}

.services-item h3 {
  padding: 0;
  margin: 0;
}

.lead {
  color: var(--basic-black);
  font-family: var(--secondary-text);
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  margin-top: 24px;
}

.services {
  background-color: var(--basic-background);
  width: 100%;
  min-height: 522px;
  margin-bottom: 83px;
}

.service {
  display: none;
}

.delivery-services {
  display: none;
  min-width: 619px;
  height: 283px;
  background: url("../img/delivery-services.png") no-repeat 152px 20px;
}

.services-item .lead {
  width: 320px;
  margin-top: 29px;
}

.guarantee-services {
  display: none;
  min-width: 619px;
  height: 283px;
  background: url("../img/guarantee.png") no-repeat top right;
}

.credit-services {
  display: none;
  min-width: 619px;
  height: 283px;
  background: url("../img/credit-services.png") no-repeat top right;
}

.service-current {
  display: block;
  margin: 0;
  padding: 0;
}

.services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.service-wrap {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  margin-top: 69px;
  position: relative;
}

.services-item {
  padding: 0;
  margin: 0;
  grid-column: 2/3;
}

.services-img {
  margin-left: 30%;
  margin-top: -168px;
}

.services-button a {
  display: block;
  padding: 16px 22px;
  max-width: 240px;
  height: 61px;
  margin: 0;
  font-family: var(--primary-text);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.services-button::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 230px;
  width: 10px;
  height: 279px;
  background: url("../img/shadow-line.png") no-repeat;
}

.services-checked-btn {
  background-color: var(--basic-text);
  color: var(--basic-nav-footer);
  display: block;
}

.services-unchecked-btn {
  background-color: var(--basic-nav-footer);
  color: var(--basic-text);
  box-shadow: 0px 1px 0px var(--basic-header-footer),
    inset 0px 1px 0px var(--basic-unchecked-btn);
}

.credit-btn {
  border-radius: 3px;
  width: 195px;
  margin-top: 14px;
}

.services-unchecked-btn:hover {
  background-color: var(--basic-header-footer);
}

.page-title {
  color: var(--basic-nav-footer);
  font-family: var(--primary-text);
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  background-color: var(--basic-background);
  margin: 0;
  padding: 0;
}

/* Section-about */

.index-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 69px;
}

.about h2 {
  margin-top: -10px;
  margin-bottom: 0;
}

.about .lead {
  margin-top: 24px;
  margin-bottom: 0;
}

.about-btn {
  margin-top: 12px;
  width: 220px;
  height: 38px;
  padding-left: 24px;
}

.transport-company {
  list-style: none;
  padding: 0;
  margin: 0;
}

.transport-company li {
  background: url("../img/marker-line.png") no-repeat 2px 11px;
  padding-left: 37px;
  padding-bottom: 9px;
  margin-top: 3px;
}

/* Contacts */

.contacts {
  margin-left: 180px;
}

.contacts h2 {
  margin-left: -8px;
  margin-top: -10px;
}

.contacts .lead {
  margin-bottom: 35px;
  margin-left: -9px;
  margin-top: -2px;
}

.contacts a {
  margin-left: -8px;
}

.contacts .button {
  margin-top: 21px;
  width: 300px;
  height: 38px;
}

/* Inner-Page  Header*/

.inner-page .basket-link:focus-within {
  background-color: var(--basic-bottom);
}

.inner-page .basket-link {
  text-align: end;
  padding: 9px 20px;
  width: 136px;
  margin-left: 14px;
}

.inner-page .contact-phone {
  padding: 7px 47px 7px 68px;
}

.inner-page .checkout-btn {
  padding: 9px 12px 9px 17px;
}

.inner-page .site-navigation {
  padding-right: 23px;
  padding-left: 26px;
}

.inner-page .user-login {
  margin-left: -28px;
  margin-bottom: 4px;
  margin-top: 5px;
  position: relative;
}

.user-login-in {
  width: 299px;
  height: 45px;
  background-color: var(--basic-text);
  padding: 12px 54px 0 56px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.user-login-in a {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.user-login-in::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 264px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon/icon-user.svg");
  opacity: 0.3;
}

.user-exit button {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon/icon-login.svg");
  opacity: 0.3;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.user-exit button:hover,
.user-login-in:hover::before {
  opacity: 1;
}

.user-exit button:focus {
  opacity: 0.3;
}

.user-login-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.user-login-items a {
  color: var(--basic-nav-footer);
  font-size: 16px;
  line-height: 18px;
  padding-right: 30px;
  padding-left: 2px;
}

.user-login-items a::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 159px;
  width: 5px;
  height: 5px;
  background-color: var(--basic-nav-footer);
  border-radius: 50%;
}

.user-login-items a:hover {
  color: var(--basic-bottom);
}

.user-login-items a:focus {
  color: var(--basic-nav-footer);
  opacity: 0.3;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: -5px;
}

.breadcrumbs li:not(:first-child) {
  position: relative;
  margin-left: 56px;
  margin-right: -14px;
  margin-top: -3px;
}

.breadcrumbs li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -28px;
  width: 8px;
  height: 8px;
  border: solid var(--basic-breadcrumbs-icon);
  border-width: 0 1px 1px 0;
  transform: rotate(-45deg);
}

.breadcrumbs-home-icon {
  position: absolute;
  top: 3px;
  left: 0;
  width: 14px;
  height: 12px;
  background-image: url("../img/icon/icon-home.svg");
}

.breadcrumbs a,
.breadcrumbs-current,
.page-subtitle {
  color: var(--basic-black);
  text-transform: uppercase;
  font-family: var(--secondary-text);
  font-size: 13px;
}

/* Page-titile */

.inner-page .page-title {
  min-height: 89px;
  padding-top: 31px;
  padding-left: 30px;
  text-transform: uppercase;
}

.page-subtitle {
  display: flex;
  flex-wrap: wrap;
  min-height: 38px;
  margin-bottom: 15px;
}

.page-subtitle p {
  margin: 0;
  padding-top: 8px;
  padding-left: 20px;
}

.page-subtitle-bg {
  background-color: var(--basic-filtr-bg);
}

/* Filters */


.filters {
  width: 220px;
  overflow: hidden;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  border: none;
}

.filter legend {
  font-family: var(--secondary-text);
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-filter {
  width: 220px;
  margin-top: 10px;
}

.range-controls {
  position: relative;
  height: 80px;
  background-color: var(--basic-filtr-bg);
  border-radius: 3px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-grey);
}

.range-controls .bar {
  width: 152px;
  height: 2px;
  background-color: var(--filter-bar);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-text);
  background-color: var(--basic-dark-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--filter-shadow);
  cursor: pointer;
  box-sizing: content-box;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: var(--secondary-text);
  font-size: 18px;
}

.price-controls input {
  width: 95px;
  padding: 10px;
  text-align: center;
  color: var(--basic-black);
  border: none;
  border-radius: 5px;
  background-color: var(--basic-filtr-bg);
  font-family: inherit;
  font-size: inherit;
}

.filter ul {
  list-style: none;
  font-family: var(--secondary-text);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 18px;
  padding: 0;
}

.filter .manufacturers {
  margin-top: 15px;
  margin-bottom: 8px;
}

.filter .supply {
  margin-top: 17px;
}

.supply .supply-list {
  margin-top: 24px;
}

.filter-option {
  padding-left: 38px;
  margin-bottom: 19px;

}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -38px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-checkbox:checked + label::before {
  position: absolute;
  top: 0px;
  left: -38px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:hover:checked + label::before {
  opacity: 1;
}

.filter-input-checkbox:focus-visible + label::before,
.filter-input-checkbox:focus-visible:checked + label::before {
  outline: 4px solid var(--basic-black);

}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled:checked + label::before {
  opacity: 0.3;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -38px;
  width: 25px;
  height: 25px;
  border: 3px solid var(--basic-grey);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -30px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-grey);
  border-radius: 50%;
}

.filter-input-radio:hover + label::before {
  border: 3px solid var(--filter-grey);
}

.filter-input-radio:hover:checked + label::after {
  background-color: var(--filter-grey);
}

.filter-input-radio:focus + label::before,
.filter-input-radio:focus:checked + label::after {
  opacity: 0.5;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled:checked + label::after {
  opacity: 0.3;
}

.filter-btn {
  font-family: var(--secondary-text);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  background-color: transparent;
  border: 1px solid var(--basic-btn-grey);
  text-align: center;
  text-transform: uppercase;
  padding: 10px 78px;
  cursor: pointer;
  margin-top: -6px;
}

.filter-btn:hover {
  background-color: var(--basic-light-grey);
}

.filter-btn:active {
  background-color: var(--basic-grey);
}

.filter-line {
  border: none;
  background-color: var(--basic-grey);
  height: 1px;
  margin-top: 0;
}

/* Sortiing */

.by-prise,
.by-type,
.by-func {
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-bottom);
}

.sorting-active {
  color: var(--basic-bottom);
  opacity: 1;
  border: none;
}

.by-prise:hover,
.by-type:hover,
.by-func:hover {
  opacity: 1;
  border-bottom: 1px solid var(--basic-bottom);
}

.sorting {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
  padding-left: 141px;
  padding-right: 5px;
  padding-top: 4px;
  list-style: none;
  margin: 0;
  align-items: center;
}

.sorting-toggle {
  list-style: none;
  display: flex;
  padding-top: 10px;
  margin: 0;
}

.sorting-toggle li {
  padding-right: 18px;
}

.more-to-less:hover path,
.less-to-more:hover path {
  fill: var(--basic-black);
}

.sorting-tog-active path {
  fill: var(--basic-bottom);
}

/* Catalog */

.catalog-item {
  border: 1px solid var(--basic-light-grey);
}

.back-side {
  position: absolute;
  top: 0;
  width: 220px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

.products-card:hover .back-side {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.card-mark-btn {
  display: inline-block;
  vertical-align: top;
  color: var(--basic-nav-footer);
  border: 3px solid var(--basic-bottom-gr);
  padding: 8px 29px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  background-color: transparent;
  width: 135px;
}

.card-buy-btn {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-text);
  background-color: var(--basic-bottom-gr);
  width: 135px;
  padding: 10px 30px;
  margin-top: 38px;
  margin-bottom: 10px;
  box-shadow: inset 0px -3px 0px var(--basic-bottom-gr-shadow);
  border-radius: 2px;
  position: relative;
}

.card-buy-btn::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 11px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  opacity: 0.3;
}

.card-buy-btn:hover {
  background-color: var(--basic-bottom-gr-hover);
}

.card-buy-btn:focus {
  background-color: var(--basic-bottom-gr-focus);
}

.card-mark-btn:hover {
  border: 3px solid var(--basic-nav-footer);
  background-color: transparent;
}

.card-mark-btn:focus {
  opacity: 50%;
}

/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item a {
  display: block;
  padding: 9px 14px;
  color: var(--basic-black);
  background-color: transparent;
  border: 1px solid var(--basic-btn-grey);
  font-family: var(--secondary-text);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-item:last-child a {
  padding: 9px 32px;
}

.pagination-item {
  margin-top: 48px;
  margin-right: 11px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a:hover {
  border: 1px solid var(--basic-grey);
}

.pagination-item a:focus {
  border: 1px solid var(--basic-bottom);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus {
  color: var(--basic-text);
  background-color: var(--basic-bottom);
}

/* About product */

.about-product {
  background-color: var(--basic-background);
  width: 100%;
  margin: 0;
  padding: 0;
}

.about-product h2 {
  padding-top: 63px;
}

.about-product .lead {
  margin: 0;
  padding-bottom: 69px;
  padding-left: 2px;
}

/* Footer */

.footer-top .container {
  display: grid;
  grid-template-columns: 390px 1fr;
  grid-template-rows: repeat(2 1fr);
}

.footer-top {
  background-color: var(--basic-nav-footer);
  margin: 0;
  padding: 0;
  width: 100%;
}

.main-footer-logo {
  display: block;
  text-align: center;
  padding-top: 20px;
  background-color: var(--basic-bottom);
  width: 220px;
  height: 60px;
  box-shadow:
    0px 5px 0px rgba(181, 41, 51);
  cursor: pointer;
}

.footer-address {
  color: var(--basic-filtr-bg);
  font-family: var(--primary-text);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin-left: 3px;
  margin-top: 12px;
}

.footer-contacts {
  margin-bottom: 54px;
}

.footer-top ul {
  list-style: none;
}

.footer-link-navigation {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
  padding-left: 4px;
}

.footer-link-popular-parts {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 20px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  padding-left: 6px;
}

.footer-link-navigation a {
  color: var(--basic-text);
}

.footer-link-popular-parts a {
  color: var(--special);
}

.footer-link-navigation a:hover,
.footer-link-popular-parts a:hover {
  text-decoration: underline;
}

.footer-link-navigation a:focus,
.footer-link-popular-parts a:focus {
  text-decoration: none;
  opacity: 50%;
}

/* Footer-bottom */

.footer-bottom {
  background-color: var(--basic-header-footer);
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

.copyright {
  color: var(--basic-text);
  font-family: var(--primary-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.footer-copyright {
  margin-top: 36px;
  margin-left: 2px;
}

.footer-mail-copyright {
  margin-top: 35px;
  padding-left: 86px;
}

.footer-social {
  padding-left: 87px;
}

.footer-social ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 34px;
  width: 180px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--basic-social-icon);
  border-radius: 50%;
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-bottom);
}

.footer-dev-copyright {
  margin-top: 35px;
  padding-left: 25px;
  padding-right: 12px;
}

.footer-mail-copyright a,
.footer-dev-copyright a {
  display: block;
  color: var(--special);
}

.footer-mail-copyright a:hover,
.footer-dev-copyright a:hover {
  text-decoration: underline;
}

.footer-mail-copyright a:focus,
.footer-dev-copyright a:focus {
  color: var(--basic-bottom);
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: none;
  border: solid var(--basic-bottom);
  border-width: 7px 0px 0px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-write-us {
  top: 120px;
  bottom: auto;
  width: 620px;
  background-color: var(--basic-text);
}

.modal-write-us::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 112px;
  background-color: var(--basic-modal-bg);
  z-index: -1;
}

.modal-write-us ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto;
  gap: 20px;
}

.modal-write-us .write-us-mail {
  grid-column: 2/3;
  grid-row: 1/2;
}

.modal-write-us .write-us-msg {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.modal-write-us .button {
  grid-row: 3/4;
  grid-column: 1/-1;
  width: 100%;
  margin-top: 47px;
}

.write-us-form {
  padding: 40px 80px;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"] {
  width: 220px;
  padding: 7px 12px;
  border: 2px solid var(--basic-grey);
  font-family: var(--secondary-text);
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  margin-top: 11px;
}

.modal-user-message {
  min-width: 460px;
  min-height: 114px;
  resize: none;
  font-family: var(--secondary-text);
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  padding: 7px 12px;
  margin-top: 11px;
}

.modal-close {
  position: absolute;
  top: 21px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 4px;
  background-color: var(--basic-bottom);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/* Modal Map */

.modal-map {
  top: 120px;
  bottom: auto;
  width: 943px;
  height: 449px;
}

.modal-map .iframe {
  border: none;
}

/* Modal Cart */

.modal-cart {
  top: 120px;
  bottom: auto;
  width: 620px;
  height: 283px;
  background-color: var(--basic-text);
  padding: 50px 114px;
}

.modal-cart ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.modal-cart h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: none;
  text-align: center;
}

.modal-cart h3::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 85px;
  width: 66px;
  height: 66px;
  background: url("../img/icon/icon-mark.svg") no-repeat 0 0;
}

.modal-cart::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 112px;
  background-color: var(--basic-modal-bg);
  z-index: -1;
}

.modal-cart li {
  margin-top: 68px;
}

.button-continue {
  background-color: var(--basic-text);
  color: var(--basic-black);
}

/* Animation */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
